* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Arial', sans-serif;

  background-image: url("images/valentine_bg_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 192, 203, 0.5); /* soft pink overlay */
  z-index: -1;
}


.card {
  background: #fff;
  padding: 50px 40px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  max-width: 750px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 30px;
  color: #ff4d6d;
}

.buttons {
  position: relative;
  height: 120px;
}
/* 
button {
  padding: 12px 28px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
} */
/* 
#noBtn {
  background-color: #adb5bd;
  color: white;
  position: absolute;
} */


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 120px;
}

.buttons button {
  padding: 12px 28px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#noBtn {
  transition: transform 0.15s ease;
}
button:hover {
  transform: scale(1.05);
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
  margin-right: 15px;
}




.tickets {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.tickets img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
